/* Layout Background */
.login-page-bg {
    background-color: rgb(240, 244, 248);
    font-family:'Segoe UI';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Card Container */
.auth-container {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* Header & Brand */
.brand-box {
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 25px;
}

.brand-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.header-text {
    text-align:left;
    margin-bottom: 30px;
}

    .header-text h2 {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
    }

    .header-text p {
        color: rgb(113, 128, 150);
        font-size: 14px;
        margin-top: 8px;
    }

/* Input Styling */
.input-group {
    margin-bottom: 20px;
}

    .input-group label {
        display: block;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 8px;
        color: rgb(74, 85, 104);
    }

    .input-group input {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(226, 232, 240);
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
    }

/* Password row items */
.label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-link {
    font-size: 12px;
    color: rgb(24, 119, 242);
    text-decoration: none;
}

.password-wrapper {
    position: relative;
}

.eye-toggle {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    cursor: pointer;
    opacity: 0.5;
}

/*Signin Buttons */
.signin {
    width: 100%;
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

/* Divider */
.separator {
    text-align: center;
    border-bottom: 1px solid rgb(237, 242, 247);
    line-height: 0.1em;
    margin: 30px 0;
}

    .separator span {
        background: white;
        padding: 0 10px;
        font-size: 11px;
        color: rgb(160, 174, 192);
        font-weight: bold;
    }

/* Social buttons */
.social-grid {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(237, 242, 247);
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: white;
}

    .social-btn img {
        width: 18px;
    }

.social-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.footer-link {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: rgb(74, 85, 104);
}

    .footer-link a {
        color: rgb(24, 119, 242);
        text-decoration: none;
        font-weight: 600;
    }
