<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrbunHub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/page/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Urbanhub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav>
        <div class=" bg-white d-flex flex-column shadow navbar z-1 position-absolute">

                <i class="fa-solid fa-arrow-left-long arrow"></i>
                <!-- logo section -->

                <div class="d-flex flex-row navlogo"><img class="logo" id="logo" src="~/assets/img/logo.png" /> <h2>UrbanHub</h2></div>
                <!-- menu section -->
                <button class="nav-btns active"><i class="fa-solid fa-border-all "></i> <span>Dashboard</span></button>
                <button class="nav-btns"><i class="fa-solid fa-border-all "></i> <span>Dashboard</span></button>

        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - UrbunHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
